.promotion {
  background: var(--gradient-background);
  box-shadow: 0px 0px 10px #7c7d8133;
  border-radius: 9px;
  padding: 20px 20px 20px 30px;
  scroll-snap-align: start;
}

.promotion p {
  font-size: 14px;
  color: var(--white);
  font-weight: bold;
}

.promotion p span:nth-child(1) {
  font-size: 30px;
  margin-right: 5px;
}

.promotion p span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
